@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


@media (max-width: 768px) {
    header{
        flex-direction: column;
    }
    .media_c{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .c_media{
        display: flex;
    }
}

